body {
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
    padding: 0;
    margin: 0;
}

section {
    text-align: center;
}

h1 {
    color:rgb(248, 163, 52);
    -webkit-text-stroke-color: rgb(190, 111, 6);
    -webkit-text-stroke-width: 2px;
    margin-top: 20px;
}

p {
    font-size: 24px;
}

h2 {
    font-size: 24px;
    margin-top: -15px;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    border: 1px solid #333333;
    box-shadow: 0 0 0 1px #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}

.restart-game {
    cursor: pointer;
    height: 50px;
    width: 306px;
    background-color: rgb(248, 163, 52);
    border: rgb(190, 111, 6) solid 2px;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
}

.foot {
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    margin-top: 100px;
    background-color: rgb(248, 163, 52);
}